@import "variables";
$theme-colors: (
    "primary":  $colorEspecial,
    "dark":$colorAzul,
);
$link-decoration: none !default;

$SpacesSizes: (
  0: 0px,
  10: 10px,
  20:20px,
  30:30px,
  40:40px,
  50:50px
);
$PaddingsType: (
  pa: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left
);

@each $classType, $type in $PaddingsType {
  @each $classSize, $size in $SpacesSizes {
    .#{$classType}-#{$classSize} {
      #{$type}: #{$size};
    }
  }
}

@function isMultiple10($i){   
  @return ($i % 10 == 0);   
}
@for $i from 5 through 100{  
  @if(isMultiple10($i)){    
      .espacio-#{$i}{        
          height: 0px + $i; 
      }
  }
}

$colors: (
	"text": #060713,
  "importante": #12225d
);

@function color($search) {
  @return map-get($colors, $search);
}
strong{
  color: $colorAzul;

}
h3{
  font-size:1.25rem;
  }
$font-weight-bolder: bold !default;
$headings-font-weight:  bold !default;
$font-family-sans-serif: 'Libre Franklin', sans-serif!default;

p{ font-size: 1.05rem;
  font-weight:300;
}
$link-color:$colorAzul;


@import "node_modules/bootstrap/scss/bootstrap";
